

h1{
    background-color: royalblue;
    width: 830px;
    height: 50px;
    font-family: AR DESTINE;
    padding-left: 20px;
    color: white;
}
body{
    background-color: rgb(228, 220, 220);
    width: 850px;
    font-family: Segoe UI symbol;


}
    
h4{
    margin: 10px;
    padding:10px;
    Color: royalblue;
    font-family:ar destine; 
}
h5{
    margin: 10px;
    padding-top: 10px;    
}
p{
    margin: 10px;
    padding-bottom: 10px;
}
section{
    background-color: whitesmoke;

}
.boxA{
    background-color: royalblue;
    width: 120px;
    height: 80px;
    margin-left: 10px;
    margin-bottom: 10px;
    color: white;
    Padding-top: 25px;
    padding-left: 20px;
    
}

.box{
    background-color: royalblue;
    width: 50px;
    height: 50px;
    float: left;
    margin: 10px;
}
img{
    width: 450px;
    margin-left: 10px;
}
#padding{
    Padding-top: 25px;
    padding-left: 20px;
    color: royalblue;
}
#margin{
    margin-top: -23px;
}

.column-left{
    float: left;
    width:  328px;
    margin-top: 18px;
}
.column-right{
    float: right;
    width: 512px;
    margin-top: -10px;
}
.background{
    background: whitesmoke;
    width: 325px;
    height: 30px;
    border-bottom: 2px solid rgb(228, 220, 220);   
}
#website{
    text-align: center;
    padding-bottom: 10px;
    border-top: 2px solid rgb(228,220,220);
}
address{
    padding: 10px;
}
hr{
    background-color: rgb(228,220,220); 
    color: rgb(228,220,220); 
    height: 2px; 
    border-color: rgb(228,220,220); 
    border: none;
    
}
#text{
    transform: rotate(-45deg);
    font-family: AR DECODE;
    color: white;
    text-shadow: bold;

}

#fixed{
    margin-top:-45px;
    margin-left:160px;
}
.boxtext{
    margin-top: -108px;
    margin-left: 160px;
    margin-bottom: 1px;
}
.comming{
    margin-left: 160px;
    margin-top: -3px;
}
